:root{
    --white: hsl(0, 0%, 100%);
    --light-gray:hsl(212, 45%, 89%);
    --grayish-blue:hsl(220, 15%, 55%);
    --dark-blue:hsl(218, 44%, 22%);
}

body{
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
}
.wrapper{
    width: 40vw;
    height: 55vh;
}
.wrapper-banner{
    background-color: var(--white);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

 .image{
    height: 35px;
}

/* .primary-text{
    font-size: 15px;
}  */