:root{
    --white: hsl(0, 0%, 100%);
    --light-gray:hsl(212, 45%, 89%);
    --grayish-blue:hsl(220, 15%, 55%);
    --dark-blue:hsl(218, 44%, 22%);
}

body{
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
    /* Meter um max ou min width aqui para que ele não precise utilizar o mediaq query */
}
.wrapper{
    width: 18.75em;
    height: 50vh;
    padding: 0.813em;
    border-radius: 0.625em;
}
.wrapper-banner{
    background-color: var(--white);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

 .image{
    height: 60%;
    border-radius: 0.625em;
}

.primary-text{
    margin-top: 1.25em;
    font-size: 21px;
    color: var(--dark-blue);
    font-weight: 700;
    text-align: center;
}  